*.iml
.idea
target
.DS_Store
.mvn

.classpath
.factorypath
.project
.settings

test-server
test-server.yaml
dev.yaml

node
package-lock.json
node_modules
dist/
npm.logs
.appengine.env

# local env files
.env.local
.env*
!.env.development.sample

# exclude everything
api-server/src/main/resources/public/*

# exception to the rule
!api-server/src/main/resources/public/.gitkeep
