.DS_Store
.idea
*.iml
target
.classpath
.factorypath
.project
.settings

test-server
test-server.yaml
dev.yaml
pos-quickstart.yaml

node
node_modules
dist/
npm.logs
.appengine.env

# local env files
.env.local
.env*
!.env.development.sample

# exclude everything
point-of-sale-app/api-server/src/main/resources/public/*
src/api-server/src/main/resources/public/*

# exception to the rule
!point-of-sale-app/api-server/src/main/resources/public/.gitkeep
!src/api-server/src/main/resources/public/.gitkeep
diff
remote-gsa-key.json
gcp.yaml
rename.sh

.npm_audit
artifacts.json
rendered.manifests